[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
django = "~=4.2.3"
django-environ = "~=0.10.0"

[dev-packages]

[requires]
python_version = "3.9"
