* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;

}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #34495e;
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .header {
        width: 100%;
        max-width:100%;
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}

.logo a {
    color: #234666;
    text-decoration: none;
}

.logo .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.center {
    text-align: center
}


.container {
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 30px;
}

.custom-container {
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 30px;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

h1 {
    color: #337ab7;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

a:hover {
    color: deepskyblue;
}

.highlight {
    background-color: yellow;
}

.messages {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

.messages li {
    padding: 8px 16px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.error {
    background-color: #f44336;
    color: white;
}

@import url(https://fonts.googleapis.com/css?family=Poppins:300);

body {
    height: 100vh;
    overflow: hidden;
    font-family: "Poppins";
    background-size: 100%;
    background-attachment: fixed;
}

.login-page {
    width: 400px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Poppins", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 7px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

}

.form button {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #234666;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 7px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #0e2941;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #234666;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.containerr {
    padding: 8px;
    background-color: #f1f1f1;
    text-align: center;
}